<!DOCTYPE html>
<html>
  <head>
    <title>TheCollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700|PT+Sans:400,700" rel="stylesheet">
    <script>
      window.logo = "<%= asset_path('collective_Logo.png') %>"
      window.white_item_btn = "<%= asset_path('add_item_btn_white.png') %>"
      window.red_item_btn = "<%= asset_path('add_item_btn.png') %>"
      window.collect = "<%= asset_path('collect.png') %>"
      window.loading = "<%= asset_path('loading.png') %>"
      window.search = "<%= asset_path('search.png') %>"
      window.edit = "<%= asset_path('edit.png') %>"
    </script>
  </head>

  <body>
    <script type="text/javascript">
      <% if logged_in? %>
      	window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
    <%= yield %>
  </body>
</html>
