<!DOCTYPE html>
<html>
  <head>
    <title>TheCollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700|PT+Sans:700" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render 'api/users/user.json.jbuilder', user: current_user %>
      <% end %>
    </script>
    <%= yield %>
  </body>
</html>
